.artist-list {
    margin: 10px 0;
}

.artist {
    padding: 15px;
    min-height: 80px;
}

.artist:hover {
    background-color: #191818;
}

.img-box {
    float: left;
}

.info-box {
    margin-left: 50px;
    padding-left: 15px;
}

.artist a:link, .artist a:visited {
    text-decoration: none;
    color: #dedada;
}