.item-list-box {
    background-color: darkred;
    max-width: 350px;
    margin: 10px 0;
    padding: 5px;
}

.item-box {
    background-color: #68878b;
    padding: 10px;
}

.img-box {
    float: left;
    padding-right: 10px;
}

.content-box {
    background-color: white;
}

.content-box-dsc {
    font-size: 70%;
    font-style: italic;
    padding: 5px;
}

.content-box-name {
    font-style: oblique;
    padding: 5px 0;
}