#sidebar {
    background-color: #00ffd0;
    position: fixed;
    display: block;
    height: 100%;
}

.control {
    cursor: pointer;
}

.controls li {
    display: inline-block;
}

#content-wrapper {
    background-color: #5a5a5a;
    display: block;
    float: right;
    width: 80%;
}

#main-content {
    background-color: #275a41;
}