doctype html

html
    head
        meta(charset='UTF-8')
        title HTML5 Audio Player with Responsive Playlist
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/client/css/audio-player.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
        script(src="/client/js/jquery-3.2.1.min.js")
    body
        .container
            .column.add-bottom
                #mainwrap
                    #nowPlay
                        span#npAction.left Paused...
                        span#npTitle.right
                    #audiowrap
                        #audio0
                            audio#audio1(preload='', controls='') Your browser does not support HTML5 Audio!
                        #tracks
                            a#btnPrev «
                            a#btnNext »
                    #plwrap
                        ul#plList
            .column.add-bottom.center

        script(src='http://api.html5media.info/1.1.8/html5media.min.js')
        script(src='/client/js/audio-player.js')
