extends main

//-
    Main template with audio player

block append css
    link(rel="stylesheet" type="text/css" href="/client/css/playable-main.css")

block append scripts
    script(src='/client/js/external_scripts/prefixfree-1.0.7.min.js' type="text/javascript")
    script(src='/client/js/external_scripts/html5media-1.1.8.min.js' type="text/javascript")
    script(src='/client/js/audio-player.js' type="text/javascript")

block append content
    ul(id="plList")

block player
    div(class="container" id="player")
        div(class="column add-bottom")
            div(id="mainwrap")
                div(id="nowPlay")
                    span(id="npAction") Paused...
                    span(id="npTitle")
                div(id="audiowrap")
                    div(id="audio0")
                        audio(id="audio1" preload='', controls='') Your browser does not support HTML5 Audio!
                    div(id="tracks")
                        a(id="btnPrev") «
                        a(id="btnNext") »

        div(class="column add-bottom center")