extends default-layout

block append css
    link(rel="stylesheet" type="text/css" href="/client/css/song-list.css")

block append content
    ul(class="song-list")
        each item in locals.data.items
            li(class="song")
                div(class="img-box")
                    img(src="/client/img/default-note.svg"
                        alt=item.album_name width="50" height="50")

                div(class="info-box")
                    p
                        strong
                            a(href="#")=item.artist_name
                    p
                        a(href="#")=item.track_name
                    p
                        a(href="#") BLA
                    p 00:00